@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
/* NavBar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  padding: 0 4rem;
  background-color: black;
}
.nav-bar h2 {
  font-size: 40px;
}
.nav-bar a {
  color: white;
}
.nav-bag {
  display: flex;
  align-items: center;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 10px;
}
/* Page not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 200px;
  color: rgb(68, 68, 68);
}
.not-found h2 {
  font-size: 40px;
}
.not-found p {
  font-size: 20px;
}
/* Cart */
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem 4rem 4rem 2rem;
}
.product-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50vh;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 1.2rem;
  background: blanchedalmond;
}
.product-list-item img {
  display: block;
  width: 100%;
  height: 50%;
  border-radius: 1.2rem;
  object-position: center;
  object-fit: contain;
}
.product__list-item-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-top: auto;
  width: 100%;
  flex-shrink: 0;
}
.product__list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__item-btn {
  background: #d0b2ec;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
  margin-top: auto;
  cursor: pointer;
}
.product__item-btn:hover,
.product__item-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #a076c6;
  transform: translateY(-0.30em);
}
.product-list-item-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: block;
}
.product__list-item-desc {
  font-size: 14px;
  font-weight: normal;
  margin-top: auto;
}
.product__item-text-btn {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}